@using Tms.Web.Framework.Helpers
@model Tms.Models.AnswerModel.AnswerSearchModel


<div class="datatable-scroll">
    <div class="main-table table-thong-ke">
        <div class="table-wrapper">
            <div class="table-content" style=" width: 100%;">
                <table class="w-10 text-center">
                    <thead>
                        <tr>
                            <th class="width_5">STT</th>
                            <th class="width_20">Câu trả lời</th>
                            <th class="width_20">Câu hỏi</th>
                            <th class="width_20">Ghi chú</th>
                            <th class="width_15">Kiểu</th>
                            <th class="width_10">Mã</th>
                            <th class="width_10">Tác vụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Answers != null && Model.Answers.Any())
                        {
                            var index = 0;
                            index = (Model.PageIndex - 1) * Model.PageSize;
                            foreach (var item in Model.Answers)
                            {
                                index++;
                                var parent = Guid.NewGuid();
                                <tr role="row" id="@parent">
                                    <td>@index</td>
                                    <td>@item.AnswerText</td>
                                    <td>@item.NameQuestion</td>
                                    <td>@item.Description</td>
                                    <td>@item.NameType</td>
                                    <td>@item.Code</td>

                                    <td class="text-center">
                                        <div class="icons-group">
                                            <a href="javascript:void(0)" title="Chỉnh sửa Answer" class="tip edit" data-id="@item.AnswerID">
                                                <i class="fas fa-pen-square"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="tip" data-id="@item.AnswerID">
                                                <i data-id="@item.AnswerID" class="fas fa-trash-alt"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("answerModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
<br />
<br />
