@model Tms.Models.CategoryModel.CategorySearchModel
@using Tms.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content-inner">
    <div class="row form-group">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="tab-pane mg-top-25px">
                    <div class="control-bar">
                        <div class="row justify-content-between">
                            <div class="page-header col-md-6">
                                <div class="page-title text-left">
                                    <h3>Quản lý cấp độ thi HSK(K)</h3>
                                </div>
                            </div>
                            <div class="breadcrumb-line col-md-6">
                                <ul class="breadcrumb float-right font-size">
                                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Category")">Cấp độ HSK(K)</a></li>
                                </ul>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-10 left-form">
                                <form action="" class="h-10">
                                    <div class="d-flex h-10 align-items-center">
                                        <div class="form-item">
                                            <label class="font-size mb-3">Tìm kiếm </label>
                                            <div>
                                                @Html.TextBoxFor(c => c.TextSearch, new { @class = "form-control font-size tbw mt-1", @placeholder = "Nội dung tìm kiếm" })
                                            </div>
                                        </div>
                                        <div class="form-item">
                                            <div>
                                                <input type="button" id="btnSearch" value="Tìm kiếm" class="btn rBtn btn-outline-danger button-container w100" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            @*<div class="col-md-2">
                                <div class="">
                                    <a class="btn btn-right-icon btn-outline-danger float-right rBtn mt-3" title="Thêm mới cấp độ HSK(K)" href="@Url.Action("Create", "Category")">
                                        <i class="fas fa-plus"></i> Thêm mới
                                    </a>
                                </div>
                            </div>*@

                            <div class="col-md-2">
                                <div class="">
                                    <a class="btn btn-right-icon btn-outline-danger float-right rBtn mt-3" title="Thi HSK" href="@Url.Action("Index", "Home")">
                                        <i class="fas fa-arrow-alt-circle-right"></i>Danh mục đề thi
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End control bar-->
                    <div id="main-category">
                        @Html.Partial("~/Views/Category/Partial/_ListItems.cshtml", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->

</div>
<div id="category-action"></div>
@Html.Partial("Partial/_ConfirmPartial", new ConfirmModel { Id = "category", Title = "Xác nhận hành động", Content = "Bạn có muốn thực hiện xóa.?" })

@section scripts
{
    <script src="~/Assets/scripts/Tms.Category.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            categoryModule.init();
        });
    </script>
}
