@using Tms.Web.Framework.Helpers
@model Tms.Models.UserTestModel.UserTestSearchModel

<div class="datatable-scroll col-12">
    <div class="lst-wrapper table-wrapper">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="7" class="">
                        Danh sách chứng chỉ
                    </th>
                </tr>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Cấp độ</th>
                    <th scope="col">Thời gian</th>
                    <th scope="col">Tổng điểm</th>
                    <th scope="col">Chứng chỉ</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.UserTests != null && Model.UserTests.Any())
                {
                    var index = 0;
                    index = (Model.PageIndex - 1) * Model.PageSize;
                    foreach (var item in Model.UserTests)
                    {
                        index++;
                        <tr>
                            <td scope="row">@index</td>
                            <td scope="row" class="">@item.HSKName</td>
                            <td scope="row">@item.CreatedDate.ToString("dd-MM-yyyy HH:mm:00")</td>
                            <td>@item.TotalPoint</td>
                            <td><a href="javascript:void(0)" class="lsbt-cc tip print" data-id="@item.UserTestId">Chứng chỉ</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<div class="datatable-footer col-12 mt-2" id="paging_layout">
    @Html.AjaxPagingHelper("userTestModule.onClickPagingByUser", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
<br />



