@using Tms.Web.Framework.Helpers
@model Tms.Models.UserTestModel.UserTestSearchModel
<div class="datatable-scroll">
    <div class="main-table table-thong-ke">
        <div class="table-wrapper">
            <table class="table-content" role="grid">
                <thead>
                    <tr role="row">
                        <th class="listItems width_5">STT</th>
                        <th class="listItems width_20" style="width: 13%">Người làm</th>
                        <th class="listItems width_20" style="width: 12%">Đề thi</th>
                        <th class="listItems width_15">Ngày thi</th>
                        <th class="listItems width_5">Điểm</th>
                        <th class="listItems width_10" style=" width: 12%">Kết quả làm bài</th>
                        <th class="listItems width_10">Trạng thái bằng</th>
                        <th class="listItems width_7" style="width: 11%;">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.UserTests != null && Model.UserTests.Any())
                    {
                        var index = 0;
                        index = (Model.PageIndex - 1) * Model.PageSize;
                        foreach (var item in Model.UserTests)
                        {
                            index++;
                            var classPoint = "point" + index;
                            var parent = Guid.NewGuid();
                            var TongDiem = Math.Round((double)item.TotalPoint);

                            <tr role="row" id="@parent">
                                <td class="text-center">@index</td>
                                <td class="listItems">@item.UserName <br />@item.Email</td>
                                <td class="listItems width_15">@item.QuizName || @item.HSKName</td>
                                <td class="listItems">@item.CreatedDate.ToString("dd/MM/yyyy HH:mm:00")</td>
                                <td class="listItems text-right @classPoint">@TongDiem</td>
                                @if (item.HSKId == 9 || item.HSKId == 10 || item.HSKId == 11)
                                {
                                    <td class="listItems"><a href="@Url.Action("ExamResultHight", "UserTest", new { id = @item.UserTestId })" class="lsbt-cc">Xem chi tiết</a></td>
                                }
                                else
                                {
                                    <td class="listItems"><a href="@Url.Action("ExamResult", "UserTest", new { id = @item.UserTestId })" class="lsbt-cc">Xem chi tiết</a></td>
                                }
                                <td class="listItems text-center">
                                    @{ var clssActive = "hide";}
                                    @{ var clssInActive = "hide";}
                                    @if (item.Status == true)
                                    {
                                        clssActive = "show";
                                    }
                                    else
                                    {
                                        clssInActive = "show";
                                    }

                                    <span data-span="active_@item.UserTestId" class="label label-success mg-left-5px @clssInActive">Chưa được in</span>
                                    <span data-span="inactive_@item.UserTestId" class="label label-info mg-left-5px @clssActive">Được phép in</span>
                                </td>
                                <td class="listItems">
                                    <div class="icons-group">
                                        <a href="javascript:void(0)" class="tip print" title="Xem chứng chỉ" data-id="@item.UserTestId"><i class="fas fa-print"></i></a>
                                        <a href="javascript:void(0)" class="tip delete-pdf" title="Cập nhật chứng chỉ" data-id="@item.UserTestId" style="float:left; margin-right: 5px;"><i class="fas fa-cloud"></i></a>
                                        <a href="javascript:void(0)" style="float:left; margin-right: 5px;" class="tip active" data-id="@item.UserTestId" title="Trạng thái chứng chỉ" data-status="@item.Status" data-parent="@parent">
                                            @if (item.Status == true)
                                            {
                                                <i class="fas fa-eye" style="background: #db3f4f;"></i>
                                            }
                                            else
                                            {
                                                <i class="fas fa-eye-slash" style="background: #db3f4f;"></i>
                                            }
                                        </a>
                                        <a href="/Account/UserInfo?userId=@item.UserId" target="_blank" class="tip printDegree" title="Xem thông tin User" data-id="@item.UserTestId"><i class="fas fa-address-book"></i></a>
                                        <a href="javascript:void(0)"  class="tip updatePoint" title="Cập nhật điểm" data-index="@index" data-id="@item.UserTestId"><i class="fas fa-pen-nib"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("userTestModule.onClickPagingAllUsers", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>


