@model Tms.Models.User.ResetPasswordModel
@using Tms.Models.User
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .label-content {
        display: block;
    }
</style>
<section class="full-width login">
    <main>
        <div class="container-fluid login-form-wrapper">
            <div class="container">
                
                <nav>
                    <div class="form-wrap pt-5 pb-5">

                        @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "mx-auto p-3 form-login", @id = "form-signin" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="m-4">
                                <h1 class="text-center" style="font-size:2rem;">Đặt lại mật khẩu</h1>
                            </div>

                            <!-- <img src="./asset/img/logo-chinh-nam-ngang-mau-goc-1400x355-1.png"> -->
                            <div class="m-4">
                                <label for="exampleFormControlInput1" class="form-label">Email</label>
                                <div class="form-placeholder">
                                    <img src="~/Assets/images/ic_email.png" class="icon-placeholder">
                                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "new-input form-control" })
                                    @*<i class="icon-users form-control-feedback"></i>*@
                                </div>
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "label-content" })
                            </div>
                            <div class="m-4">
                                <label for="exampleFormControlPassword1" class="form-label">Mật khẩu</label>
                                <div class="form-placeholder">
                                    <img src="~/Assets/images/ic_lock.png" class="icon-placeholder">
                                    @Html.PasswordFor(model => model.Password, new { @placeholder = "Mật khẩu", @class = "new-input form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "label-content" })
                            </div>
                            <div class="m-4">
                                <label for="exampleFormControlPassword1" class="form-label">Xác nhận Mật khẩu</label>
                                <div class="form-placeholder">
                                    <img src="~/Assets/images/ic_lock.png" class="icon-placeholder">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @placeholder = "Mật khẩu", @class = "new-input form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "label-content" })
                            </div>
                            <div class="m-4 pb-3 flex-r">
                                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index","Home")'"><i class="fas fa-sign-out-alt"></i>Thoát</button>
                                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>Đăng nhập</button>
                            </div>
                            @*<div class="modal-footer mg-top10px" style="border: none">
                <button class="btn btn-danger" data-dismiss="modal">Thoát</button>
                <a id="btn_changePassword" class="btn btn-info color-w">Đồng ý</a>
            </div>*@
                        }
                    </div>
                </nav>

            </div>
        </div>
    </main>
</section>

<!-- Login wrapper -->

@Scripts.Render("~/bundles/jquery")
<script src="~/Assets/js/main.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //if ($('.alert-warning') != null && $('.alert-warning').text() != "") {
        //    $('.login-button').trigger("click");
        //}

    });
</script>