@using Tms.Web.Framework.Helpers
@model Tms.Models.UserTestQuestionAnswerModel.UserTestQuestionAnswerSearchModel

<div class="datatable-scroll">
    <table class="table table-bordered dataTable no-footer" role="grid">
        <thead>
            <tr role="row">
				<th class="task-deadline">UserTestQuestionAnswerID</th>
				<th class="task-deadline">UserTestQuestionAnswerText</th>
				<th class="task-deadline">UserTestQuestionID</th>
				<th class="task-deadline">Title</th>
				<th class="task-deadline">CreatedDate</th>
				<th class="task-deadline">Description</th>
				<th class="task-deadline">Type</th>
				<th class="task-deadline">Code</th>
				<th class="task-deadline">Point</th>

                <th class="task-deadline">Trạng thái</th>
                <th class="task-date-added">Tác vụ</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.UserTestQuestionAnswers != null && Model.UserTestQuestionAnswers.Any())
            {
                foreach (var item in Model.UserTestQuestionAnswers)
                {
                    var parent = Guid.NewGuid();
                    <tr role="row" id="@parent">
						<td>@item.UserTestQuestionAnswerID</td>
						<td>@item.UserTestQuestionAnswerText</td>
						<td>@item.UserTestQuestionID</td>
						<td>@item.Title</td>
						<td>@item.CreatedDate</td>
						<td>@item.Description</td>
						<td>@item.Type</td>
						<td>@item.Code</td>
						<td>@item.Point</td>

                        <td class="text-center">
                            @{ var clssActive = "hide";}
                            @{ var clssInActive = "hide";}
                            @if (item.Status && item.Status)
                            {
                                clssActive = "show";
                            }
                            else
                            {
                                clssInActive = "show";
                            }

                            <span data-span="active_@item.UserTestQuestionAnswerID" class="label label-success mg-left-5px @clssActive">Kích hoạt</span>
                            <span data-span="inactive_@item.UserTestQuestionAnswerID" class="label label-warning mg-left-5px @clssInActive">Ngừng kích hoạt</span>
                        </td>
                        <td class="text-center">
                            <div class="icons-group">
                                <a href="@Url.Action("Edit", "UserTestQuestionAnswer", new {id = @item.UserTestQuestionAnswerID})" title="Chỉnh sửa UserTestQuestionAnswer" class="tip dialog"><i class="icon-pencil3"></i></a>                            
                                    <a href="javascript:void(0)" class="tip" data-id="@item.UserTestQuestionAnswerID"><i data-id="@item.UserTestQuestionAnswerID" class="icon-remove4"></i></a>
                                    <a href="javascript:void(0)" data-parent="@parent" data-status="@item.Status" class="tip active" data-id="@item.UserTestQuestionAnswerID">
                                        @if (item.Status)
                                        {
                                            <i class="icon-eye5"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-eye4"></i>
                                        }
                                    </a>                                
                            </div>
                        </td>
                    </tr>
                                    }
                                }
        </tbody>
    </table>
</div>
<div class="datatable-footer" id="paging_layout">
    @Html.AjaxPagingHelper("userTestQuestionAnswerModule.onClickPaging", Model.TotalRecords, Model.PageSize, Model.PageIndex, Model.SortColumn, Model.SortDirection)
</div>
