@model Tms.Models.NewsModel.NewsModel

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <div class="col-sm-12">
                    @if (TempData["success"] != null)
                    {
                        <div style="width:100% !important;background-color: #dff0d8;border-color: #d6e9c6;color: #3c763d;" class="alert alert-success in" role="alert">
                            @*<a class="close">×</a>*@
                            <strong>Thành công!</strong> <span>@TempData["success"]</span>
                        </div>
                    }
                    @if (TempData["info"] != null)
                    {
                        <div style="width:100% !important;color: #31708f; background-color: #d9edf7; border-color: #bce8f1;" class="alert alert-info in" role="alert">
                            @*<a class="close">×</a>*@
                            <strong>Chú ý!</strong><span> @TempData["info"]</span>
                        </div>
                    }
                    @if (TempData["warning"] != null)
                    {
                        <div style="width:100% !important;color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc;" class="alert alert-warning in" role="alert">
                            @*<a class="close">×</a>*@
                            <strong>Cảnh báo!</strong><span> @TempData["warning"]</span>
                        </div>
                    }
                    @if (TempData["error"] != null)
                    {
                        <div style="width:100% !important;color: #a94442;background-color: #f2dede; border-color: #ebccd1;" class="alert alert-danger in" role="alert">
                            @*<a class="close">×</a>*@
                            <strong>Lỗi!</strong><span> @TempData["error"]</span>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-lg-2 control-label text-right">Title: </label>
                <div class="col-sm-8 col-lg-8">
                    @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.Title)
                </div>
                <span class="color-red">(*)</span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right">SortDescription: </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(c => c.SortDescription, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.SortDescription)
                </div>
                <span class="color-red">(*)</span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right">Description: </label>
                <div class="col-sm-8">
                    @Html.TextAreaFor(c => c.Description, new { @class = "form-control", @id = "editor1" })
                    @Html.ValidationMessageFor(c => c.Description)
                </div>
                <span class="color-red">(*)</span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label text-right">CreatedBy: </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(c => c.CreatedBy, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.CreatedBy)
                </div>
                <span class="color-red">(*)</span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label text-right">IsHot: </label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(c => c.IsHot,
                    new List<SelectListItem> {
                         new SelectListItem { Value = "true" , Text = "Có" },
                         new SelectListItem { Value = "false" , Text = "Không" },
                      })

                    @*@Html.TextBoxFor(c => c.IsHot, new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(c => c.IsHot)
                </div>
                <span class="color-red">(*)</span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right">Author: </label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(c => c.Author, new { @class = "form-control" })
                    @Html.ValidationMessageFor(c => c.Author)
                </div>
                <span class="color-red">(*)</span>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 control-label text-right">CategoryNewsId: </label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(c => c.CategoryNewsId, new SelectList(ViewBag.CategoryList, "CategoryNewsId", "Title"), "Chọn danh mục")
                    @Html.ValidationMessageFor(c => c.CategoryNewsId)
                </div>
                <span class="color-red">(*)</span>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label text-right">Image</label>
                <div class="col-sm-8">
                    @Html.TextBox("Image", "", new { type = "file" }) <br />
                    @*<input type="file" name="Image" id="Image" />*@
                </div>
            </div>
            <br />
            @*<div class="form-group">
            <label class="col-sm-2 control-label text-right">Kích hoạt: </label>
            <div class="col-sm-8">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(c => c.Status, new { @class = "styled" })
                    </label>
                </div>
            </div>
        </div>*@
        </div>
    </div>

